---
import { css } from "styled-system/css";

const workTagStyles = css({
  border: "1px solid",
  borderColor: "primaryForeground",
  color: "foreground",
  borderRadius: "full",
  fontSize: "xs",
  fontWeight: "medium",
  pt: 1,
  pb: 1,
  px: 4
});

interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<span class={workTagStyles}>#{tag}</span>
