---
import { css } from "styled-system/css";

const workTagStyles = css({
  backgroundColor: "token(colors.secondary)",
  border: "1px solid",
  borderColor: "primary",
  color: "token(colors.primary/80)",
  px: "0.5rem",
  pb: "0.3rem",
  pt: "0.1rem",
  borderRadius: "full",
  fontSize: "xs",
  fontWeight: "medium",
});

interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<span class={workTagStyles}>{tag}</span>
