---
import ContactUs from "src/components/ContactUs.astro";
import { css } from "../../styled-system/css";
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

import BentoCard from "../components/ui/BentoCard.astro";

const linkItem = [
  { href: "/", label: "Work" },
  { href: "/", label: "Blog" },
  { href: "/", label: "Skill" },
];
const result = Astro.getActionResult(actions.formAction);

let submittedData = { name: "", email: "", message: "" };

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    submittedData = {
      name: (formData.get("name") as string) || "",
      email: (formData.get("email") as string) || "",
      message: (formData.get("message") as string) || "",
    };
  } catch (error) {}
}

if (result && !result.error) {
  return Astro.redirect("/thanks");
}
---

<Layout>
  <main
    class={css({
      w: "full",
      h: "full",
      border: "2px solid",
      borderColor: "orange.400",
      padding: "8",
      display: "grid",
      gridTemplateColumns: "1fr",
      gap: "8",
    })}
  >
    <div
      class={css({
        display: "grid",
        w: "full",
        h: "auto",
        alignItems: "flex-start",
        gap: 2,
        gridTemplateColumns: "repeat(4, 1fr)",
        gridTemplateAreas: `
					"c1 c1 c1 c2" 
					"c3 c4 c4 c4" 
					". . c5 c5" 
					`,
      })}
    >
      <BentoCard
        title="I'm a WEB DEVELOPER"
        desc="TRHRは、Webサイト/アプリケーション開発を得意としたフリーランスのフロントエンドエンジニアです。"
        label="PROFILE"
        className={css({
          gridArea: "c1",
        })}
      >
        <div
          class={css({
            w: 28,
            h: 28,
            backgroundColor: "slate.100",
          })}
        >
          asd;fjk
        </div>
      </BentoCard>
      <BentoCard
        title="UP TO DATE"
        desc="常にフロントエンド領域の最新技術をキャッチアップしています"
        label="CORE SKILLS"
        className={css({
          gridArea: "c2",
        })}
      >
        <div
          class={css({
            w: 28,
            h: 28,
            backgroundColor: "slate.100",
          })}
        >
          asd;fjk
        </div>
      </BentoCard>
      <BentoCard
        title="RUNTIME"
        desc="品質とパフォーマンスに拘ります"
        label="RELIABILITY"
        className={css({
          gridArea: "c3",
        })}
      >
        <div
          class={css({
            w: 28,
            h: 28,
            backgroundColor: "slate.100",
          })}
        >
          RELIABILITY
        </div>
      </BentoCard>
      <BentoCard
        title="SKILL LIBRARY"
        desc="スキル一覧のリスト"
        label="STACK"
        className={css({
          gridArea: "c4",
        })}
      >
        <div
          class={css({
            w: "full",
            h: "auto",
            border: "1px solid",
            borderColor: "gray.10",
            padding: 2,
            display: "grid",
            gridTemplateColumns: "1fr",
          })}
        >
          <span
            class={css({
              display: "inline-block",
              background: "gray.4",
            })}>HTML,CSS,JavaScript(ES6),TypeScript,PHP,Node.js</span
          >
          <span
            class={css({
              display: "inline-block",
              background: "gray.4",
            })}>React,Next.js,</span
          >
        </div>
      </BentoCard>
      <BentoCard
        title="CUSTOMERS LOVE US"
        desc="お客様第一ですよという旨を書く"
        label="PHILOSOPHY"
        className={css({
          gridArea: "c5",
        })}
      >
        <div
          class={css({
            w: 28,
            h: 28,
            backgroundColor: "slate.100",
          })}
        >
          PHILOSOPHY
        </div>
      </BentoCard>
    </div>

    <div>おといあわせふぉーむ（実装する気概があれば）</div>

    <ContactUs result={result} submittedData={submittedData} />
  </main>
</Layout>
