---
import Layout from "src/layouts/Layout.astro";
import { css } from "../../styled-system/css";

const button = css({
  px: 6,
  pt: 2,
  pb: 3,
  width: "fit-content",
  textAlign: "center",
  borderRadius: "full",
  border: "1px solid token(colors.border)",
  transition: "all ease 0.2s",
  outline: "2px solid token(colors.primary/0)",
  color: "inherit",
  _hover: {
    outline: "1px double token(colors.primary)",
    color: "primary",
  },
});
---

<Layout>
  <main
    class={css({
      w: "full",
      h: "full",
      display: "grid",
      placeItems: "center",
      placeContent: "center",
      gap: 12,
    })}
  >
    <h1
      class={css({
        fontSize: "2xl",
        fontWeight: "bold",
        mb: "4",
      })}
    >
      お問い合わせありがとうございました
    </h1>

    <a href="/works" class={button}>トップページ</a>
  </main>
</Layout>
