---
import Layout from "src/layouts/Layout.astro";
import { css } from "../../styled-system/css";

const button = css({
  px: 6,
  pt: 2,
  pb: 3,
  width: "fit-content",
  marginTop: 6,
  textAlign: "center",
  borderRadius: "full",
  border: "1px solid token(colors.border)",
  transition: "all ease 0.2s",
  outline: "2px solid token(colors.primary/0)",
  color: "inherit",
  _hover: {
    outline: "1px double token(colors.primary)",
    color: "primary"
  },
  background: "secondary"
});

const messageStyle = css({
  display: "grid",
  textAlign: "left",
  justifyItems: "flex-end",
  w: "full",
  gap: 4,
  p: 6,
  border: "1px solid token(colors.border)",
  borderRadius: "3xl"
});
---

<Layout>
  <main
    class={css({
      w: "full",
      h: "full",
      display: "grid",
      placeItems: "start",
      placeContent: "center",
      gap: 12,
      p: 4
    })}
  >
    <div class={messageStyle}>
      <h1
        class={css({
          fontSize: "4xl",
          fontWeight: "bold",
          mb: "4",
          w: "full"
        })}
      >
        THANK YOU!!!
      </h1>
      <div>
        <p>お問い合わせいただき、ありがとうございます！</p>
        <p>内容を確認のうえ、2営業日以内にご連絡いたします。</p>
        <p>
          恐れ入りますが、今しばらくお待ちいただけますようお願い申し上げます。
        </p>
      </div>
      <a href="/" class={button}>BACK TO HOME</a>
    </div>
  </main>
</Layout>
