---
import { css } from "styled-system/css";

const titleTextStyle = css({
  fontSize: "1.5rem",
  fontWeight: "bold"
});
---

<header
  class={css({
    w: "full",
    h: "full",
    position: "sticky",
    top: 0,
    left: 0,
    display: "flex",
    alignItems: "center",
    justifyContent: "center",
    background: "background/30",
    backdropFilter: "blur(12px)",
    borderBottom: "1px dashed token(colors.border)",
    borderTop: "1px dashed token(colors.border)",
    zIndex: "z50",
    marginTop: "1"
  })}
>
  <a href="/" class={css({ textDecoration: "none", color: "inherit" })}>
    <h1 class={titleTextStyle}>TRHR PORTFOLIO</h1>
  </a>
</header>
