---
import { css } from "styled-system/css";
---

<header
  class={css({
    w: "full",
    h: "full",
    position: "sticky",
    top: 0,
    left: 0,
    display: "grid",
    placeItems: "center",
    placeContent: "center",
    background: "red",
  })}
>
  <h1>title</h1>
</header>
