---
import { css } from "styled-system/css";
---

<header
  class={css({
    w: "full",
    h: "full",
    position: "sticky",
    top: 0,
    left: 0,
    display: "flex",
    alignItems: "center",
    justifyContent: "space-between",
    background: "background/30",
    backdropFilter: "blur(12px)",
    zIndex: "z50",
  })}
>
  <a href="/" class={css({ textDecoration: "none", color: "inherit" })}>
    <h1 class={css({ fontSize: "1.5rem", fontWeight: "bold" })}>Site Title</h1>
  </a>
  <nav>
    <ul class={css({ listStyle: "none", display: "flex", gap: "1rem" })}>
      <li>
        <a
          href="/about"
          class={css({
            textDecoration: "none",
            color: "token(colors.blue.600)",
            _hover: {
              textDecoration: "underline",
              color: "token(colors.blue.800)",
            },
          })}
        >
        </a>
      </li>
    </ul>
  </nav>
</header>
