@layer reset, base, tokens, recipes, utilities;

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "DepartureMono";
  src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --hdr-gradient: linear-gradient(
    to right in oklch,
    oklch(100% 0 0 / 0%) 20%,
    oklch(90% 0.6 254 / 0.2) 100%
  );
}
