---
import "../index.css";
import { css } from "../../styled-system/css";
---

<!doctype html>
<html lang="ja-JP">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div
      class={css({
        margin: "12",
        display: "grid",
        gridTemplateColumns: "1fr",
        gridTemplateRows: "60px 1fr 120px",
        alignItems: "flex-start",
        justifyItems: "center",
        position: "relative",
        minHeight: "100vh",
        height: "auto",
      })}
    >
      <header
        class={css({
          w: "full",
          h: "full",
          position: "sticky",
          top: 0,
          left: 0,
          display: "grid",
          placeItems: "center",
          placeContent: "center",
          border: `4px double`,
          borderColor: "orange.400",
        })}
      >
        <h1>title</h1>
      </header>
      <slot />
      <footer
        class={css({
          w: "full",
          h: "full",
          border: "1px solid",
          borderColor: "orange.400",
        })}
      >
        <span>footer</span>
      </footer>
    </div>
  </body>
</html>
