---
import "../index.css";
import { css } from "../../styled-system/css";
import { ClientRouter } from "astro:transitions";
import Header from "src/components/Header.astro";
import Footer from "src/components/Footer.astro";

const container = css({
  display: "grid",
  gridTemplateColumns: "1fr",
  gridTemplateRows: "60px 1fr 120px",
  alignItems: "flex-start",
  alignContent: "flex-start",
  justifyItems: "center",
  justifySelf: "center",
  position: "relative",
  minHeight: "100vh",
  height: "auto",
  maxWidth: "breakpoint-2xl",
  w: "full",
});
---

<!doctype html>
<html lang="ja-JP">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>TRHR</title>
    <ClientRouter />
  </head>
  <body
    class={css({
      background: "background",
      color: "foreground",
    })}
  >
    <div class={container}>
      <Header />
      <div
        class={css({
          maxWidth: "breakpoint-xl",
        })}
      >
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
