---
import { css } from "styled-system/css";
import Layout from "./Layout.astro";

const mainPageStyles = css({
  width: "full",
  margin: "0 auto",
  padding: { base: "4", md: "6" },
  display: "flex",
  flexDirection: "column",
  gap: { base: 6, md: 8 }
});

const pageTitleStyles = css({
  fontSize: { base: "2xl", md: "3xl" },
  fontWeight: "bold",
  textAlign: "center",
  letterSpacing: "tight"
});

const containerStyle = css({
  w: "full",
  h: "full",
  display: "grid"
});

interface Props {
  pageTitle: string;
}

const { pageTitle = "Works" } = Astro.props;
---

<Layout title="My Works - Portfolio">
  <main class={mainPageStyles}>
    <h1 class={pageTitleStyles}>{pageTitle}</h1>
    <div class={containerStyle}>
      <slot />
    </div>
  </main>
</Layout>

<style>
  ::view-transition-old(article-image-*) {
    animation: 0.5s ease-out old-image-animation;
  }

  ::view-transition-new(article-image-*) {
    animation: 0.5s ease-in new-image-animation;
  }

  @keyframes old-image-animation {
    from {
      opacity: 1;
      transform: scale(1);
      box-shadow: 0px 0px 48px 2px oklch(0.36 0.06 63.83 / 0.3);
    }
    to {
      opacity: 0;
      transform: scale(0.8);
      box-shadow: none;
    }
  }

  @keyframes new-image-animation {
    from {
      opacity: 0;
      transform: scale(0.8);
      box-shadow: none;
    }
    to {
      opacity: 1;
      transform: scale(1);
      box-shadow: 0px 0px 48px 2px oklch(0.36 0.06 63.83 / 0.3);
    }
  }
</style>
