---
import { css } from "styled-system/css";
import Layout from "./Layout.astro";

const mainPageStyles = css({
  width: "full",
  margin: "0 auto",
  padding: { base: "4", md: "6" },
  display: "flex",
  flexDirection: "column",
  gap: { base: 6, md: 8 }
});

const pageTitleStyles = css({
  fontSize: { base: "2xl", md: "3xl" },
  fontWeight: "bold",
  textAlign: "center",
  letterSpacing: "tight"
});

const containerStyle = css({
  w: "full",
  h: "full",
  display: "grid"
});

interface Props {
  pageTitle: string;
}

const { pageTitle = "Works" } = Astro.props;
---

<Layout title="My Works - Portfolio">
  <main class={mainPageStyles}>
    <h1 class={pageTitleStyles}>{pageTitle}</h1>
    <div class={containerStyle}>
      <slot />
    </div>
  </main>
</Layout>

<style is:global>
  @keyframes customAnim {
    0% {
      filter: brightness(0);
    }
    50% {
      filter: brightness(0);
    }
    100% {
      filter: brightness(1);
    }
  }
</style>
