---
import MyImg from "../../assets/about.png";
import { Image } from "astro:assets";
import { css } from "styled-system/css";

const container = css({
  display: "grid",
  gridTemplateColumns: "1fr",
  placeContent: "center",
  placeItems: "center",
  gap: 6,
  w: "full",
  "& p": {
    // fontSize: "sm",
  },
});

const skills = css({
  color: "transparent",
  display: "block",
  w: "fit-content",
  backgroundImage:
    "linear-gradient(45deg, oklch(0.9 0.26 137.21), oklch(0.84 0.12 220.66))",
  backgroundClip: "text",
});
---

<div class={container}>
  <Image
    class={css({
      aspectRatio: "square",
      borderRadius: "full",
      border: "1px solid token(colors.border)",
    })}
    src={MyImg}
    alt={"プロフィール画像"}
    width={200}
    height={200}
  />
  <h3
    class={css({
      fontWeight: "bold",
      // color: "primary",
    })}
  >
    TRHR&nbsp;(Ari Shinoda)
  </h3>
  <div
    class={css({
      display: "flex",
      flexDirection: "column",
      gap: "2",
    })}
  >
    <p>
      TRHRは、フリーランスのフロントエンドエンジニアです。<br
      />Webサイト・アプリの開発を中心にお仕事募集中です！
      <br />最近個人開発にもチャレンジしています。
    </p>
    <div class={skills}>
      <p>CORESKILL:[TS,React,Solid.js,Next.js,Astro...]</p>
      <p>INTERESTED：[WebGL,Cloudflare,GCP,AI関連全般]</p>
    </div>
  </div>
</div>
