---
import MyImg from "../../assets/about.png";
import { Image } from "astro:assets";
import { css } from "styled-system/css";

const container = css({
  display: "grid",
  gridTemplateColumns: "1fr",
  placeContent: "center",
  placeItems: "center",
  gap: 6,
  p: 4,
  w: "full",
});
---

<div class={container}>
  <Image
    class={css({
      aspectRatio: "square",
      borderRadius: "full",
      border: "1px solid token(colors.border)",
    })}
    src={MyImg}
    alt={"プロフィール画像"}
    width={200}
    height={200}
  />
  <h3
    class={css({
      fontWeight: "bold",
      // color: "primary",
    })}
  >
    TRHR&nbsp;(Ari Shinoda)
  </h3>
  <div
    class={css({
      display: "flex",
      flexDirection: "column",
      gap: "2",
      fontSize: "sm",
    })}
  >
    <p>
      TRHRは、フリーランスのフロントエンドエンジニアです。Webサイト・アプリの開発を中心にお仕事募集中です！
      最近個人開発にもチャレンジしています。
    </p>
    <p>好きな技術：[TS,React,Solid.js,Next.js,Astro...]</p>
    <p>興味のある技術：[WebGL,Cloudflare,GCP,AI関連全般]</p>
  </div>
</div>
