---
import { css } from "styled-system/css";

interface Props {
  title: string;
  desc: string;
  href?: string;
  className: string;
}

const { title, desc, href, className } = Astro.props;
---

<div
  class={`${css({
    border: "1px solid",
    borderColor: "gray.10",
    w: "full",
    h: "full",
    fontFamily: "depa",
    padding: 4,
    gap: 3,
    display: "grid",
    gridTemplateColumns: "1fr",
    gridTemplateRows: "min-content min-content 1fr min-content",
    alignContent: "flex-start",
  })} ${className} item`}
>
  <h2
    class={css({
      fontSize: "2xl",
      color: "orange.12",
      fontWeight: "bold",
      display: "inline-block",
      width: "fit-content",
    })}
  >
    {title}
  </h2>
  <p>{desc}</p>
  <div
    class={css({
      w: "full",
      h: "full",
      display: "grid",
      placeContent: "center",
      placeItems: "center",
      gridTemplateColumns: "1fr",
    })}
  >
    <slot />
  </div>
  {
    href && (
      <a
        href={href}
        class={css({
          marginX: "auto",
          fontSize: "sm",
          paddingTop: 4,
          color: "orange.10",
        })}
      >
        [READ MORE]
      </a>
    )
  }
</div>
