---
import { css } from "styled-system/css";

interface Props {
  title: string;
  href?: string;
  area: "c1" | "c2" | "c3" | "c4" | "c5" | "c6" | "c7";
}

const { title, area, href } = Astro.props;

const container = css({
  border: "1px solid",
  borderColor: "border",
  background: "secondary/20",
  borderRadius: "xs",
  w: "full",
  h: "full",
  fontFamily: "depa",
  p: 4,
  md: {
    px: 2,
    pt: 1,
    pb: 2,
  },
  gap: 3,
  display: "grid",
  gridTemplateColumns: "1fr",
  gridTemplateRows: "min-content 1fr min-content",
  alignContent: "flex-start",
  gridArea: area,
});
---

<section class={container}>
  <h2
    class={css({
      fontSize: "2xl",
      md: { fontSize: "4xl" },
      color: "primary",
      fontWeight: "bold",
      display: "inline-block",
      width: "fit-content",
    })}
  >
    {title}
  </h2>
  <div
    class={css({
      w: "full",
      h: "full",
      display: "grid",
      placeContent: "center",
      placeItems: "center",
      gridTemplateColumns: "1fr",
      gridTemplateRows: "1fr",
    })}
  >
    <slot />
  </div>
  {
    href && (
      <a
        href={href}
        class={css({
          marginX: "auto",
          fontSize: "sm",
          paddingTop: 4,
          color: "foreground/90",
        })}
      >
        [READ MORE]
      </a>
    )
  }
</section>
