---
import { css } from "styled-system/css";

const bColor = "border";

const container = css({
  border: "1px solid",
  borderColor: bColor,
  borderRadius: "xl",
  w: "240px",
  aspectRatio: "square",
  display: "grid",
  position: "relative",
  overflow: "hidden",
  cursor: "pointer",
  transition: "background-color 0.3s ease",
  bgColor: "red",
  _before: {
    content: '""',
    position: "absolute",
    top: 0,
    left: 0,
    width: "100%",
    height: "100%",
    backgroundColor: "lightcoral",
    filter: "brightness(1.2) hue-rotate(45deg)",
    clipPath: "circle(30px at var(--mouse-x) var(--mouse-y))",
    zIndex: 1,
  },
  gridTemplate: `
							"h h h h" 0.2fr
							"m m m s"  1fr							
							"f f f f"  0.1fr / 1fr 1fr 1fr 1fr
						`,
  "& div": {
    w: "full",
    h: "full",
    borderColor: bColor,
  },
});
---

<script is:inline>
  const $follower = document.getElementById<HTMLDivElement>("motif");
</script>
<div class={container} id="motif">
  <div class={css({ gridArea: "h", borderBottom: "1px solid" })}></div>
  <div
    class={css({
      gridArea: "m",
      display: "grid",
      gridTemplateColumns: "1fr",
      gridTemplateRows: "1fr 1.1fr",
      gap: 1,
      padding: 2,
    })}
  >
    <div
      class={css({
        w: "full",
        h: "full",
        border: "1px solid",
        borderRadius: "xl",
        background: `
    radial-gradient(circle, transparent 20%, token(colors.background) 20%, token(colors.background) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, token(colors.background) 20%, token(colors.background) 80%, transparent 80%, transparent) 12px 12px,
    linear-gradient(token(colors.border) 5px, transparent 1px) 0 -1px,
    linear-gradient(90deg, token(colors.border) 1px, token(colors.background/0) 1px) -1px 0
  `,
        backgroundSize: "24px 24px, 24px 24px, 12px 12px, 12px 12px",
      })}
    >
    </div>
    <div
      class={css({
        w: "full",
        display: "grid",
        gridTemplateColumns: "1fr",
        gridTemplateRows: "5fr 4fr 3fr 2fr 1fr",
        gap: 1,
        "& > span": {
          w: "full",
          display: "block",
          borderRadius: "sm",
          background: bColor,
        },
      })}
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div
    class={css({
      gridArea: "s",
      display: "grid",
      gridTemplateColumns: "1fr",
      gap: 2,
      padding: 1,
      "& > span": {
        w: "full",
        h: "full",
        border: "1px solid",
        borderColor: bColor,
        borderRadius: "lg",
      },
    })}
  >
    <span></span>
  </div>
  <div class={css({ gridArea: "f", borderTop: "1px solid" })}></div>
</div>
