---
import { css } from "styled-system/css";

const container = css({
  w: "full",
  h: "full",
  border: "1px solid token(colors.border)",
  display: "grid",
});
---

<div class={container}></div>
