---
import GithubIcon from "public/icon/github.svg";
import InstagramIcon from "public/icon/instagram.svg";
import XIcon from "public/icon/x.svg";
import RssIcon from "public/icon/rss.svg";
import { css } from "styled-system/css";

const iconToRender = [
  { component: GithubIcon, props: { href: "https://github.com/snd-primary" } },
  { component: XIcon, props: { href: "https://x.com/trhr_core" } },
  {
    component: InstagramIcon,
    props: { href: "https://www.instagram.com/1149trx/" },
  },
  { component: RssIcon, props: { href: "/" } },
];
const iconStyle = css({
  stroke: "foreground",
  transition: "stroke 0.2s ease",
  _groupHover: {
    stroke: "primary",
  },
});

const container = css({
  display: "grid",
  gridTemplateColumns: "repeat(2, 1fr)",
  gap: 8,
});
---

<div class={container}>
  {
    iconToRender.map((item) => {
      const Component = item.component;
      return (
        <a href={item.props.href} role="group">
          <Component width={48} height={48} class={iconStyle} />
        </a>
      );
    })
  }
</div>
